.user-chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}


.messages-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 90vh;
    border: 0.5px solid var(--border-color);
    padding-left: 30px;
    padding-right: 30px;
}
