.header {
    display: flex;
    width: 100%;
    padding: 10px;
    height: 60px;
    border: 0.5px solid var(--border-color);
    align-items: center;
    /* background: linear-gradient(45deg, black, black, var(--accent-color), black); */

    .profile-icon{
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: var(--highlight-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }

    .chat-user-name{
        font-size: 18px;
        margin-left: 10px;
        font-weight: bold;
        color: var(--text-secondary);
        text-transform: capitalize;
    }
}
