.chat-users{
  width: 300px;
  display: flex;
  flex-direction: column;

  .chat-users-header{
    display: flex;
    width: 100%;
    padding: 10px;
    height: 60px;
    border: 0.5px solid var(--border-color);
  }

  .users-list{
    display: flex;
    flex-direction: column;
    border: .5px solid var(--border-color);
    max-height: 100vh;
    overflow-y: scroll;
    padding: 5px;
    gap: 5px;
    flex: 1;
  }

}
